absl-py==0.15.0
adam==0.0.0.dev0
alabaster==0.7.12
altgraph==0.17.2
amino==13.0.1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.2.0
auto-py-to-exe==2.11.0
Babel==2.9.1
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.4
certifi==2021.5.30
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.4
clang==5.0
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
cycler==0.10.0
dataframe==0.2.1.3
docopt==0.6.2
docutils==0.17.1
Eel==0.12.4
et-xmlfile==1.1.0
Flask==2.0.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gcloud==0.18.3
gevent==21.8.0
gevent-websocket==0.10.1
google-auth==2.3.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.53.0
greenlet==1.1.2
grpcio==1.41.1
gunicorn==20.1.0
Gutenberg==0.4.0
h5py==3.1.0
httplib2==0.20.2
idna==2.7
imagesize==1.2.0
importlib-resources==5.2.2
imutils==0.5.4
iniconfig==1.1.1
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
Js2Py==0.71
jws==0.1.3
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lenses==0.4.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
nltk==3.6.2
nose==1.3.7
numpy==1.19.5
oauth2client==3.0.0
oauthlib==3.1.1
opencv-python==4.5.4.58
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==21.0
pandas==1.3.2
pefile==2021.9.3
Pillow==8.3.1
pipwin==0.5.1
playsound==1.3.0
pluggy==1.0.0
protobuf==3.19.1
purl==1.6
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/Admin/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycparser==2.21
pycryptodome==3.11.0
pycryptodome-test-vectors==1.0.4
pycryptodomex==3.11.0
pygame==2.0.1
Pygments==2.10.0
pyinstaller==4.6
pyinstaller-hooks-contrib==2021.3
pyjsparser==2.7.1
PyOpenGL==3.1.5
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.3
Pyrebase4==4.5.0
pySmartDL==1.3.4
pyswip==0.2.10
pytest==6.2.5
python-dateutil==2.8.2
python-jwt==2.0.1
pyttsx3==2.90
pytube==11.0.1
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
rdflib==6.0.0
regex==2021.8.28
requests==2.11.1
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.7.1
singledispatch==3.7.0
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.26
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.7.0
termcolor==1.1.0
threadpoolctl==2.2.0
time-series==0.2
timeseries==0.5.0
toml==0.10.2
toolz==0.11.1
tqdm==4.62.2
typed-ast==1.4.3
typeshed-client==1.1.1
typing-extensions==3.7.4.3
tzdata==2021.1
tzlocal==3.0
urllib3==1.23
Werkzeug==2.0.1
whichcraft==0.6.1
wrapt==1.12.1
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
