body{

    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ),url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1472&q=80');
    background-size: cover;
}

/* center */
.center{
    position: relative;
    width: 480px;
    height: 600px;
    margin: 6% auto;
    padding: 5px;
    background: #fff;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 30px auto;
    position: relative;
    box-shadow:  0 0 2px 0.02px;
    border-radius: 15px;
    top: 35px;
}

.toggle-btn{
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}


#btnsignup{
    right: 3%;
}
#btnsignin{
    right: 1%;
    color: white;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: black;
    border-radius: 15px;
    transition: .5s;
}

.form-group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}


.form-field{
    width: 100%;
    font-size: 15px;
    margin-top: 50px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.form-group p{
    font-size: 25px;
    padding: 20px 0 0 25px;
    width: 200px;
    margin-left: 30px;
}

.submit-btn{
    width: 85%;
    margin-top: 50px;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
    background: black;
    color: #fff;
    outline: none;
    border-radius: 15px;
    font-size: 18px;
}

#signin{
    left: 100px;
} 

#signup{
    left: 600px;
}





