@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

.max-width{
    max-width: 1500px;
    padding: 0 80px;
    margin: auto;
}
html{
    scroll-behavior: smooth
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Source Code Pro', monospace;
}
a{
    text-decoration: none;
}
body{
    font-size: 20px;
    line-height: 1.5;
    overflow-x: hidden;
    min-height: 100vh;
    -webkit-tap-highlight-color: transparent;
    
    box-sizing: border-box;
    font-weight: 400px;
    text-decoration: none;
}
body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.12;
}
.home-section{
    background: url("bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
:before,::after{
    box-sizing: border-box;
}
.align-item-center{
    align-items: center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
.justify-content-between{
    justify-content: space-between;
}


/* header */
.header{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.header.backg{
    padding: 15px 0;
    background:  rgba(0, 0, 0, 1);
}
.header .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}
.header .logo a span{
    transition: all 0.3s ease;
}
.header.sticky .logo a span{
    color: #fff;
}
.header .menu li{
    list-style: none;
    display: inline-block;
}
.header .menu li a{
    display: block;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}
.header.sticky .menu li a:hover{
    color: #fff;
}
/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* --home */


.home-section .full-screen{
    padding:50px 0;
    min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;

}
.home-section .home-text p{
  font-size: 28px;
  text-transform: capitalize;
  margin: 0;
  color: #4392c7;
}
.home-section .home-text h1{
    font-size: 55px;
    text-transform: capitalize;
    margin: 0;
    color: #fff;
  
    
  }
.home-section .home-text h2{
    font-size: 30px;
    text-transform: capitalize;
    margin: 0;
    color: rgb(62, 146, 185);
  }

/* ---content */
.ngonngu{
    min-height: 100vh;
}
main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }
  
.ngonngu span p {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    background-color: black;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    margin-left: 23%;
  }
  
#C12{
    margin-left: 18%;
}
  
  

/* intro */
.card-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    transform-style: preserve-3d;
}
.card-intro .box{
    display: flex;
    position: relative;
    width: 220px;
    height: 300px;
    margin: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    transform-style: preserve-3d;
}
#html:hover{
    background-color: rgb(255,87, 34);
    transition: 0.5s;
    opacity: 1;
}
#css:hover{
    background-color: rgb(25,115, 186);
    transition: 0.5s;
    opacity: 1;
}
#js:hover{
    background-color: rgb(214,186, 53);
    transition: 0.5s;
    opacity: 1;
}
#python:hover{
    background-image: linear-gradient(to bottom right,rgb(52,108,157) 50%, rgb(254,216,72) 50%);
    transition: 0.5s;   
}
#sql:hover{
    background-image: linear-gradient(to bottom right,rgb(135,206,241), rgb(15,128,204));
    transition: 0.5s;
    transition-duration: 10s;
    opacity: 1;
}

.card-intro .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #ffff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;

}
.card-intro .box:hover .name{
    top: 40px;
    opacity: 1;
   
}
.card-intro .box .detail{
    position: relative;
    top: 220px;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transform: 0.5s;
    opacity: 0;
    z-index: 10;
}
.card-intro .box:hover .detail{
    bottom: 30px;
    opacity: 1;

}
.box  p{
    font-size: 30px;
    font-weight: bold;
}
#python p{
    color: red;
}


.card-intro .box .pic{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100px;
    transition: 0.5s;
    z-index: 10;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,0px);

}
#python .pic{
    max-width: 100%;
}
/* about */
.text{
    background-color: rgba(0, 0, 0, 0.7);
}

.mypic{
    display: grid;
}
.pic1{
    position: relative;
    left: 50%;
}
.mypic h1{
    text-align: center;
    color: white;
    position: relative;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
}
/* about */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    margin: 40px;
  
}
.about .box{
    padding: 10px 10px 3px 110px;
}
.about1{
    margin: 6px;
    font-weight: bold;
}
/* details*/
.details{
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    padding: 70px 10px 3px 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.8);
}
.detail-titile{
    padding: 10px 20px 20px 20px;
    color: rgb(196, 197, 192);
    font-weight: bold;
   
}
.detail-titile h1{
    font-size: 3rem;
}
.detail-titile p{
    font-size: 1.5rem;
}
.detail-titile small{
    font-size: 1rem;
}
textarea{
    resize: none;
    font-size: 25px;
    color: black;
    text-decoration: none;
    background: #e2dddd;
}
.area{ 
    text-align: center;
    text-decoration: none;
    
}
.content-area{
    color: white;
    margin: 20px;
}

/* contribute*/
.container1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* footer */
.container1{
	max-width: 1170px;
	margin:auto;
}
.row1{
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #f7eff1;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




